:root {
    /* Project colors */
    --primary-color: #00113e;
    --secondary-color: #ffbe37;
    --tertiary-color: #edeefd;
    --default-color: #eef0f4;
    --optional-color: #d68c45;
    --optional2-color: #f90a39;
    --calnder-text-color: #1d1d1d;
    --bg-color: #f1f1fb;

    --np-membership: #125b50;
    --bronze-membership: #cd5c08;
    --silver-membership: #eeeeee;
    --gold-membership: #ffb000;

    --primary-shade-1: #152246;
    --secondary-shade-1: #f3c462;
    --tertiary-shade-1: #c5c8f4;
    --default-shade-1: #d2d7e0;

    --primary-shade-2: #212d4d;
    --secondary-shade-2: #edcd8a;
    --tertiary-shade-2: #a5a9e8;
    --default-shade-2: #bac0cd;

    --glass-effect-bg: rgba(186, 192, 205, 0.55);
    --blur-effect: blur(2.5rem);
    --box-shadow-effect: 8px 8px 8px -6px rgba(0, 0, 0, 0.18);
    --box-shadow-all-4sides: 0 0 2rem rgba(0, 0, 0, 0.18);
    --box-shadow-all-4sides-cleaner: 0 0 2rem -5px rgba(0, 0, 0, 0.18);

    --default-gap: 2em;
    --default-gap: 1em;

    --input-border: #8b8a8b;
    /* change the values below to your chosen font(s) */
    --heading-font: "IBM Plex Sans Condensed", sans-serif;
    --paragraph-font: "Poppins", sans-serif;
}

/* Basic resets */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* base settings */
html {
    font-size: 50%;
    box-sizing: border-box;
}

body {
    background-color: var(--default-color);
    font-family: var(--paragraph-font);
    font-size: 1.8rem;
    font-weight: 400;
    color: #282828;
    line-height: 1.5;
}

/* Header section */
:where(.header-box, .header-intro) {
    display: grid;
}

.homepage-body header {
    /* padding-inline: 2rem; */
    padding-block-end: 2rem;
    background: url(../images/hero.WEBP);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-decoration: 2.5px underline double #444;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
}

:where(.nav-links, .social-links, .socials-box, .cta-box, [role="switch"]) {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 3rem;
    width: 3rem;
}

footer {
    padding-block: 5em;
    color: #565656b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.footer-captions {
    font-family: var(--heading-font);
    color: #444;
    font-weight: 600;
}

footer ul {
    list-style: none;
}

footer svg {
    fill: #444444d1;
}

.contact-box,
.quick-link-box,
.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

address a,
.quick-link-box a {
    color: #444444d1;
}

address,
.quick-link-box ul {
    display: grid;
    row-gap: 1rem;
}

.quick-link-box a {
    text-decoration: none;
}

address a:hover,
.quick-link-box a:hover {
    color: var(--primary-color);
    text-decoration: 5px underline var(--secondary-color);
}

.footer-socials ul {
    display: flex;
    gap: 1rem;
}

.intro-section {
    text-align: center;
    padding-inline: 1em;
}

.views-button-section {
    margin-block: 1em;
    background-color: var(--primary-color);
    padding-block: 1em;
    padding-inline: 1em;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.views-button-section button {
    padding-block: 0.5em;
    padding-inline: 1em;
    border: none;
    border-radius: 5px;
    background: transparent;
    box-shadow: var(--box-shadow-all-4sides);
}

.views-button-section button:active {
    border-color: lime;
    outline: 2px dotted lime;
    outline-offset: 0.2em;
}

.views-button-section #grid-view {
    background-color: var(--optional-color);
}

.views-button-section #list-view {
    background-color: var(--secondary-color);
    color: var(--default-color);
}

.member-card-section {
    background-color: #eef0f4;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d68c45' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");

    margin-block: 1em;
    padding-block: 1.5em;
    padding-inline: 1em;
}

.member-card {
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 1em;
    padding-inline: 1em;
    text-align: center;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-all-4sides-cleaner);
    margin: 0 auto;
}

.member-card figure div {
    width: 60%;
}

.member-card figure img {
    width: 100%;
    height: auto;
}

.member-card figure div,
.member-card .member-info-box img {
    margin: 0 auto;
}

.member-card figure figcaption {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 600;
}

.member-card .member-info-box {
    display: grid;
    gap: 1rem;
}

.member-card .member-info-box a {
    color: var(--optional-color);
}

.member-card .member-info-box a:active,
.member-card .member-info-box a:visited {
    color: var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}

.list {
    padding: 0;
}

.list .member-card:nth-child(even) {
    background-color: var(--tertiary-color);
}

.list .member-card {
    text-align: left;
    border-radius: 0;
    box-shadow: none;
}

.list .member-card figure div {
    display: none;
}

.list .member-card .member-info-box img {
    margin: 0;
}

@media only screen and (min-width: 37.5em) {
    .logo-box {
        width: 15rem;
    }

    .news-event-section-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 5rem;
        width: 85vw;
    }

    .figure-box {
        height: 100%;
        width: 100%;
    }

    .news-box {
        grid-column: 1 / 3;
        grid-row: 2 / 4;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content repeat(2, 1fr);
        place-items: center;
        gap: var(--default-gap);

        padding-block-end: 3em;
    }

    .weather-box {
        color: var(--default-color);
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: center;
    }

    .partners {
        overflow: hidden;
        white-space: nowrap;
        padding-block: 2em;
    }

    .partners :last-child {
        display: inline-block;
    }

    .partners:hover .partner-slide {
        animation-play-state: paused;
    }

    .partner-slide {
        display: inline-block;
        animation: 25s slide infinite linear;
    }

    .partner-slide img {
        object-fit: scale-down;
        height: 5vh;
        margin-inline: 4rem;
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .services-section {
        display: grid;
        place-items: center;
        row-gap: 10rem;
        padding-block: 5em 10em;
    }

    .service-card-box {
        width: 85%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--default-gap);
    }

    .card svg {
        width: 5rem;
        height: 5rem;
    }
}