@media only screen and (min-width: 56.25em) {
    html {
        font-size: 62.5%;
    }

        .member-card {
            width: 100%;
        }
    
        .list .member-card {
            gap: 3rem;
        }
    
        .list .member-card .member-info-box {
            gap: 2rem;
        }
    
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 2.5rem;
        }
}