@media only screen and (min-width: 56.25em) {
    html {
        font-size: 62.5%;
    }
}

.form-container {
    justify-content: space-evenly;
}

.form-container .svg-box {
    width: 35%;
}

.form-container form input[type="submit"]:hover {
    background-color: var(--default-color);
    color: var(--primary-color);
}

.form-container form input[type="submit"]:active {
    box-shadow: none;
}

.join-page-body .join-cta-text {
    width: 70vw;
    margin: 0 auto 3em;
}

.thankyou-page-body section p,
.thankyou-page-body section h1,
.summary-box {
    width: 60vw;
    max-width: 70vw;
    margin: 1em auto;
}

.membership-card {
    display: grid;
    gap: 2rem;
}


@media only screen and (min-width: 118.75em) {

    .news-event-section-box,
    .service-card-box,
    .partners {
        max-width: 50vw;
        margin: 0 auto;
    }

    .header-box {
        max-width: 118rem;
    }

    .mini-gallery-box,
    .explore-text-box {
        max-width: 50em;
    }

    .explore {
        justify-content: center;
        gap: 7em;
    }
}