:root {
    --primary--color: rgb(7, 7, 88);
    --secondary--color: rgb(168, 150, 150);
    --accent1--color: white;
    --accent2--color: rgb(59, 5, 59);
    --accent3--color: rgb(30, 122, 30);

    --font-family: "Roboto", sans-serif;
    --poppins-regular-weight: 900;
    --poppins-thin-weight: 100;
}

nav,
h1,
h2,
h3,
h4,
h5,
li {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: var(--primary--color);
    color: var(--accent1--color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.avatar {
    width: 80px;
    height: 141px;
    box-sizing: border-box;
    border: 2.5px var(--accent1--color) solid;
    margin: 1.5rem 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

header span {
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
}

#menu {
    display: block;
    font-size: 40px;
    text-decoration: none;
    padding: 8px 12px;
    background-color: var(--primary--color);
    color: var(--accent1--color);
}

#menu {
    font-family: var(--font-family);
    position: absolute;
    top: 1.6rem;
    right: 1.5rem;
    cursor: pointer;
    border: 0;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: var(--secondary--color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: none;
    border-bottom: 1px solid var(--secondary--color)
}

nav a {
    display: block;
    color: var(--accent1--color);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: var(--accent2--color);
    color: var(--accent3--color);
}

nav li:last-child {
    border-bottom: none;
}

nav a.active {
    background-color: var(--accent1--color);
    color: var(--primary--color);
}

.open li {
    display: block;
}

#menu.open::before {
    content: "X";
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    margin: 20px;
    flex: 1;
}

main section {
    border-radius: 5px;
    box-shadow: 6px 4px 8px;
    margin: 10px auto;
    background-color: var(--primary--color);
    width: fit-content;
    text-align: center;
}

section h1 {
    background-color: var(--primary--color);
    color: white;
    text-decoration: underline;
    margin: 0;
    border-radius: 5px 5px 0 0;
    font-size: larger;
    padding: 10px 0;
}

section ul {
    padding: 0 40px;
    margin: 10px 0;
    color: var(--accent1--color);
}

section li {
    text-align: left;
    font-size: larger;
}

picture {
    padding: 10px;
    max-width: 300px;
}

section img {
    height: auto;
    width: 80%;
    display: block;
}

section img {
    border-radius: 10px;
    margin: 0 auto;
}

section p {
    font-size: larger;
    margin: 0 0 10px 0;
}

.boxcertificate01 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.boxButton {
    padding-top: 10px;
}

h2 {
    color: var(--accent1--color);
    text-decoration: underline;
}

.courseButton {
    flex: 1 1 100%;
    margin: 5px;
}

.courseButton {
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 5rem;
    color: var(--primary--color);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.courseButton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary--color);
    border-radius: 5rem;
    z-index: -2;
}

.courseButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--secondary--color);
    transition: all 0.3s;
    border-radius: 5rem;
    z-index: -1;
}

.courseButton:hover {
    color: var(--accent3--color);
}

.courseButton:hover:before {
    width: 100%;
}

.course {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course {
    border: var(--accent3--color);
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.course {
    transition: all 0.3s;
    position: relative;
}

.course h2 {
    font-size: larger;
    margin: 0;
    padding: 0;
}

.courseNoComplete {
    background-color: var(--accent3--color);
    color: var(--oxford-blue-3);
}

.courseComplete {
    background-color: var(--primary--color);
    color: white;
}

.course h2 {
    transition: all 0.3s;
}

.course::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 18, 51, 0.468);
    border-bottom-color: rgba(0, 18, 51, 0.468);
    transform: scale(0.1, 1);
}

.course:hover h2 {
    letter-spacing: 2px;
}

.course:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.course::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(8, 118, 227, 0.1);
}

.course:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

dialog {
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: var(--primary--color);
    box-shadow: 0 0 3rem var(--secondary--color);
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary--color);
}

/*Footer */

footer {
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer p {
    text-align: center;
    padding: 10px;
}

@media (min-width: 480px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    main {
        max-width: 768px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        margin: 10px auto;
    }

    main p {
        font-size:var(--font-family);
    }

    section {
        flex-basis: 15em;
        flex-grow: 1;
    }

    .boxcertificate01 {
        width: 650px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
        grid-gap: 1em;
    }

    .course {
        padding: 10px;
    }
}